#content {padding:20px}
#dialog {position:absolute; width:350px; padding:10px; z-index:200; padding-top:150px;}
#dialog-header {
    display:block;
    position:relative;
    width:350px;
    padding:3px 6px 7px;
    height:14px;
    font-size:14px;
    font-weight:bold
}
#dialog-title {float:left}
#dialog-close {
    float:right; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px;
    background:url(images/dialog_close.gif) no-repeat
}
#dialog-content {display:block; height:250px; padding:6px; color:#666666; font-size:13px;width:350px}
#dialog-mask {
    position:absolute;
    top:0; left:0; min-height:100%; width:100%; background:#FFF; opacity:0.75;
    filter:alpha(opacity=75); z-index:100;
    height:785px;
}
.success {background:#fff bottom right no-repeat; border:1px solid #60a174; border-top:none}
.successheader {background:#3A7C78 url(../images/form/form-title-bg.gif) repeat-x scroll 0 0; color:#3c7f51; border:1px solid #60a174; border-bottom:none}

